[submodule "gf_container"]
	path = gf_container
	url = https://github.com/AG-Andergassen/gf_container.git
	branch = master
[submodule "cubature"]
	path = cubature
	url = https://github.com/aaleryani/cubature.git
	branch = master
